<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500053096187-cpss4fpbkeg9imf36fo0lbuu35ksel81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500053096187-cpss4fpbkeg9imf36fo0lbuu35ksel81</string>
	<key>API_KEY</key>
	<string>AIzaSyADKFm7hBRDwReP-gKgR2KZzAoTV8m6bKM</string>
	<key>GCM_SENDER_ID</key>
	<string>500053096187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.dogganidhal.funprize</string>
	<key>PROJECT_ID</key>
	<string>fun-prize</string>
	<key>STORAGE_BUCKET</key>
	<string>fun-prize.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500053096187:ios:d7704e93eae696005c625e</string>
	<key>DATABASE_URL</key>
	<string>https://fun-prize.firebaseio.com</string>
</dict>
</plist>